<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xottys.transfermessage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name="org.xottys.transfermessage.MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.xottys.transfermessage.MyActivity1"
            android:label="MyActivity1"/>
        <activity android:name="org.xottys.transfermessage.MyActivity2"
            android:label="MyActivity2">
            <intent-filter>
                <action android:name="MyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="org.xottys.transfermessage.MyStartService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="org.xottys.transfermessage.MyIntentService"
            android:exported="false" />
        <service
            android:name="org.xottys.transfermessage.MyBindService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>